@charset "utf-8";

/* font */
@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 100;
    src: local('Noto Sans Thin'), local('NotoSans-Thin'),
    url(../font/NotoSansKR-Thin-Hestia.eot),
    url(../font/NotoSansKR-Thin-Hestia.eot?#iefix) format('embedded-opentype'),
    url(../font/NotoSansKR-Thin-Hestia.woff) format('woff'),
    url(../font/NotoSansKR-Thin-Hestia.otf) format('opentype');
}

/* reset */
html{overflow:hidden;height:100%}
body{margin:0;padding:0;height:100%;font-size:18px;line-height:1.4;font-family:'Noto Sans Korean', dotum, sans-serif}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img{margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6{font-size:18px;font-family:'Noto Sans Korean', dotum, sans-serif}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block}
ul, dl,dt,dd{margin:0;padding:0;list-style:none}
legend{position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999px;overflow:hidden}
label, input, button, select, img{vertical-align:middle;font-size:18px}
input, button{margin:0;padding:0;font-family:'Noto Sans Korean', dotum, sans-serif;font-size:18px;font-weight:bold}
input[type="submit"]{cursor:pointer}
button{cursor:pointer}
textarea, select{font-family:'Noto Sans Korean', dotum, sans-serif;font-size:18px}
select{margin:0}
p{margin:0;padding:0;word-break:break-all;font-weight:bold}
hr{display:none}
pre{overflow-x:scroll}
a{text-decoration:none;font-weight:bold;color:#333}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* layout */
.hidden, legend, caption{position:absolute;left:-9999px;text-indent:-9999px;font-size:0;line-height:0}
