@charset "utf-8";

/* custom style */
.cus-next-btn {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 10px;
    font-size: 0;
}

.cus-next-btn.type02 .btn-wrap {
    display: inline-block;
    box-sizing: border-box;
    font-weight: 300;
}

.cus-next-btn.type02 .btn-wrap:first-child {
    padding-right: 10px;
    width: 40%;
}

.cus-next-btn.type02 .btn-wrap:last-child {
    width: 60%;
}

.cus-next-btn.type02 .btn-wrap button {
    text-shadow: none;
}

.cus-next-btn.type02 .btn-wrap button.active {
    border: 1px solid #38c;
    background-color: #38c;
    color: #fff;
}

/* form */
.form-text {
    position: relative;
    margin-top: 15px;
}

.form-text.age::after,
.form-text.height::after,
.form-text.weight::after {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: 300;
    color: #999;
}

.form-text.age::after {
    content: '세';
}

.form-text.height::after {
    content: 'cm';
}

.form-text.weight::after {
    content: 'Kg';
}

.question-content .ui-input-text {
    box-shadow: none;
}

.question-content input[type=text]::placeholder {
    color: #ccc;
}

.question-content .ui-focus {
    box-shadow: none;
    border: 1px solid #38c;
}

/* style */
.question-box {
    overflow: hidden;
    transform: scale(1, 0);
    transition: 0.3s;
    margin-top: 20px;
}

.question-box.off {
    transform: scale(1, 1);
    opacity: 0.3;
}

.question-box.on {
    transform: scale(1, 1);
}

/* Tablet 
@media all and (min-width:768px) and (max-width:1023px) {
    
} */

/* mobile 
@media all and (max-width:768px) {
    
} */